
<div class="button-section">
@for (article of articles$ | async; track $index) {
    @if(!article.published){
      <div class="button-container">
        <button (click)="togglePublication(article)">Afficher l'article {{article.title}}</button>
      </div>
    }
  }
</div>

<div class="card-section">
  @for (article of articles$ | async; track $index) {
    @if (article.published) {
      <app-article-thumbnail [article]="article" (dataEmitFromChild)="dataRecieveFromChild($event)"></app-article-thumbnail>
    }
  } @empty {
    <p class="no-article">No article published</p>
  }
</div>

<!-- Affichage d'une popup -->
 @if(showPopup){
   <div class="notification" [ngClass]="{'hidden' : hideNotification}">
    <span>{{messageFromChild}}</span>
   </div>
 }
