
<div class="button-section">
@for (articleFromParent of articles$ | async; track $index) {
    @if(!articleFromParent.isPublished){
      <div class="button-container">
        <button (click)="togglePublication(articleFromParent)">Afficher l'article {{articleFromParent.title}}</button>
      </div>
    }
  }
</div>

<div class="card-section">
  @for (articleFromParent of articles$ | async; track $index) {
    @if (articleFromParent.isPublished) {
      <app-article-thumbnail [article]="articleFromParent" (dataEmitFromChild)="dataRecieveFromChild($event)"></app-article-thumbnail>
    } 
  } @empty {
    <p class="no-article">No article published</p>
  }  
</div>

<!-- Affichage d'une popup -->
 @if(showPopup){
   <div class="notification" [ngClass]="{'hidden' : hideNotification}">
    <span>{{messageFromChild}}</span>
   </div>
 }