/* Conteneur principal de la page article */
.article-card {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
}

/* Titre principal */
.article-card h1 {
  font-size: 24px;
  color: #007bff;
  margin-bottom: 20px;
  text-align: center;
}

/* Style de chaque ligne d'information */
.article-card p {
  margin: 5px 0;
  font-size: 16px;
}

.article-card p span {
  font-weight: bold;
  color: #555;
}

/* Style pour l'image de l'article */
.article-card .article-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.img-container{
  height: 300px;
}

/* Style pour les indicateurs de statut */
.status {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.published {
  background-color: #28a745; /* vert pour publié */
}

.unpublished {
  background-color: #dc3545; /* rouge pour non publié */
}

.liked {
  background-color: #007bff; /* bleu pour aimé */
}

.unliked {
  background-color: #6c757d; /* gris pour non aimé */
}
