<p>article-page works!</p>
<!-- <p>Id de l'article : {{articleId}}</p>
<p>Nom de l'article : {{articleTitle}}</p> -->
<p>Id de l'article : {{article.id}}</p>
<p>Nom de l'article : {{article.title}}</p>
<p>Catégorie de l'article : {{article.categoryName}}</p>
<p>Image l'article : {{article.image}}</p>
<p>Nom de l'image de l'article : {{article.imageTitle}}</p>
<p>Article publié ?: {{article.isPublished}}</p>
<p>Nombre de likes : {{article.likeCount}}</p>
<p>Page aimé : {{article.isLiked}}</p>
<p> Contenu de l'article : {{article.content}}</p>
