<nav>
  <div class="nav-container">
    <div class="nav-left">
      <span class="user-name">Nom de l'utilisateur</span>
    </div>
    <ul class="nav-center">
      <li><a [routerLink]="['/']">Accueil</a></li>
      <li><a [routerLink]="['/contact']">Page de contact</a></li>
      <li><a [routerLink]="['/404page']">404</a></li>
      @if (isLogged() && isUser()) {
        <li><a [routerLink]="['/profile']">Mon profil</a></li>
      }
      @if (isLogged() && isAdmin()) {
        <li><a [routerLink]="['/admin']">Admin</a></li>
      }
    </ul>
    <div class="nav-right">
      @if (!isLogged()) {
        <button [routerLink]="['/signup']">S'inscrire</button>
        <button [routerLink]="['/login']">Se connecter</button>
      }
      @if (isLogged() && isUser()) {
        <a (click)="logout()">Se déconnecter</a>
      }
    </div>
  </div>
</nav>
