$background-color: #f9f9f9;


.card {
  background-color: $background-color;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  text-align: center;
  font-family: Arial, sans-serif;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(20px);
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
}

.card h2 {
  color: #333;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.card p {
  color: #666;
  font-size: 1rem;
  line-height: 1.6;
}