@if (!article.isPublished){
  <button (click)="togglePublication()">Afficher l'article : {{article.title}}</button>
}
   @if (article.isPublished) {
     <div class="container">
       <div class="card">
         <div class="text_block">
           <h2 
           [ngClass]="{'popular-article': article.likes > 100}" 
           [ngStyle]="{'color': article.likes > 150 ? 'green' : 'black'}"
           (click)="goToArticleDetails(article.id, article.title)">
           {{article.title}}
          </h2>
          <div class="details_block">
            <div class="author_likes_block">
              <p id="author-name"> <i>Author : {{article.author}}</i></p>
              <p><i>number of likes : {{article.likes}} ❤</i></p>
            </div>
            <p [ngStyle]="{'color': article.likes > 150 ? 'green' : 'black'}">{{article.content}}</p>
            <a [routerLink]="['/article',article.id,article.title]">Details de l'article</a>
          </div>
         </div>
         <div class="comment_block">
           <p > <strong>Commentaire :</strong>
            @for (comment of newCommentList; track $index) {
              <div class="comment_block_text"> 
                <p>{{comment}}</p>
              </div>
            }
          </p>
         </div>
         <img [src]="article.image" [alt]="article.title">
         <div class="comment_input_block">
           <p>Ajouter un commentaire : </p>
           <form #commentForm="ngForm" (ngSubmit)="onSubmit()">
             <input type="text" [(ngModel)]="article.comment" #commentInput="ngModel" name="commentInput">
             <button type="submit"> valider </button>
           </form>
           <button (click)="sendDataToParent()">Liker la publication</button>
           <button (click)="togglePublication()">Masquer la publication</button>
         </div>
       </div>
      </div>
    }

    
